<h1>Welcome to RentBazaar</h1>
<h3>The premiere one-stop rent portal!</h3>

<p><%= link_to "Tenant", tenant_path, :id=>"tenantPage", :class => "btn btn-lg btn-primary" %></p>
<p><%= link_to "Landlord", landlord_path, :id=>"landlordPage", :class => "btn btn-lg btn-primary" %></p>
