<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
        <li>Bank Detail</li>
        <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
      <h4 class="panel-title">
        Landlord's Bank Details
      </h4>
    </div>
    <div class="col-md-4">
      <a id="edit_detail" class="btn btn-primary pull-right">Edit</a>
    </div>
    </div>
  </div>
    <div class="panel-body">
      <% if @data %>
        <%= render :partial => "bank_details_show_data" %>
        <%= render :partial => "bank_details_edit_data" %>
      <% else %>
        <%= render :partial => "bank_details_edit_data" %>
      <% end %>
    </div>
</div>