<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
        <li>Dashboard</li>
        <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div id="accordion" class="panel-group">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Details of Payment Made</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="table-responsive">
								    <table class="table table-striped">
								        <thead>
								            <tr>
								                <th>#</th>
								                <th>Header</th>
								                <th>Header</th>
								                <th>Header</th>
								                <th>Header</th>
								            </tr>
								        </thead>
								        <tbody>
								            <tr>
								                <td>1,001</td>
								                <td>Lorem</td>
								                <td>ipsum</td>
								                <td>dolor</td>
								                <td>sit</td>
								            </tr>
								            <tr>
								                  <td>1,002</td>
								                  <td>amet</td>
								                  <td>consectetur</td>
								                  <td>adipiscing</td>
								                  <td>elit</td>
								            </tr>
								                <tr>
								                  <td>1,003</td>
								                  <td>Integer</td>
								                  <td>nec</td>
								                  <td>odio</td>
								                  <td>Praesent</td>
								                </tr>
								                <tr>
								                  <td>1,003</td>
								                  <td>libero</td>
								                  <td>Sed</td>
								                  <td>cursus</td>
								                  <td>ante</td>
								                </tr>
								                <tr>
								                  <td>1,004</td>
								                  <td>dapibus</td>
								                  <td>diam</td>
								                  <td>Sed</td>
								                  <td>nisi</td>
								                </tr>
								                <tr>
								                  <td>1,005</td>
								                  <td>Nulla</td>
								                  <td>quis</td>
								                  <td>sem</td>
								                  <td>at</td>
								                </tr>
								                <tr>
								                  <td>1,006</td>
								                  <td>nibh</td>
								                  <td>elementum</td>
								                  <td>imperdiet</td>
								                  <td>Duis</td>
								                </tr>
								                <tr>
								                  <td>1,007</td>
								                  <td>sagittis</td>
								                  <td>ipsum</td>
								                  <td>Praesent</td>
								                  <td>mauris</td>
								                </tr>
								        </tbody>
								    </table>
				          		</div><!--/main-->
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Any Notifications?</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>You have no notifications as of now. <a href="http://www.google.com/" target="_blank">Learn more.</a></p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Any Activities?</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<p>No Activities logged for you, yet. <a href="http://www.google.com/" target="_blank">Learn more.</a></p>
							</div>
						</div>
					</div>
				</div>