<!-- Begin Body -->
<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
        <li>Payment History</li>
        <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div class="panel panel-default">
	<div class="panel-heading">
	    <h4 class="panel-title">
	        <button type="button" class="btn btn-danger">0 Late</button>
	        <button type="button" class="btn btn-warning">1 Pending</button>
			<button type="button" class="btn btn-success">5 Successful</button>
			<button type="button" class="btn btn-info" style="float:right;">6 All</button>
		</h4>
	</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">My payment History</h4>
    </div>
    <div class="panel-body">
		<div class="table-responsive">
			<table class="table table-condensed table-striped table-bordered table-hover no-margin">
				<%if @roommate_data.blank? %>
	              <thead>
	                <tr>
	                  <th style="width:100%">There are no payments done from your account.</th>
	                </tr>
	              </thead>
	            <% else %>
					<thead>
						<tr>
						    <th style="width:5%">No.</th>
						    <th style="width:15%">Rent paid</th>
						    <th style="width:20%" class="hidden-phone">Due Date</th>
						    <th style="width:20%" class="hidden-phone">Paid on</th>
						    <th style="width:20%" class="hidden-phone">Payment method</th>
						    <th style="width:20%" class="hidden-phone" data-toggle="tooltip" data-placement="top" title="You may choose to edit/delete a roommate!">Status</th>
						</tr>
					</thead>
					<tbody>
						<% @payment_data.each do |data| %>
						    <tr>
						        <td style="text-align:center;">1</td>
						        <td><% data[:amount] %></td>
						        <td style="text-align:center;"><% data[:payment_due_date] %></td>
						        <td style="text-align:center;"><% data[:payment_done_at] %></td>
						        <td style="text-align:center;"><% data[:payment_mode] %></td>
						        <td class="hidden-phone">
						            <span class="label label label-info">New</span>
						        </td>
						    </tr>
						<% end %>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>

