<h2 id="sec0">A quick way to pay your rent!</h2>
              	<div class="row">
                  <div class="col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                      	<form>
	                		<div class="row">
	                			<div class="col-xs-4">
									<div class="input-group">
										<span class="input-group-addon"><b><span class="WebRupee">&#x20B9;</span></b></span>
										<input type="text" class="form-control" placeholder="Rent Amount">
										<span class="input-group-addon">.00</span>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Due Date" disabled="disabled">
									</div>
								</div>
							</div>
						</form>
                      </div>
                      <div class="panel-body">
                      	<ul class="nav nav-tabs">
                      		<li class="active"><a href="#">Credit Card</a></li>
                      		<li><a href="#">Debit Card</a></li>
                      		<li><a href="#">Net Banking</a></li>
                      	</ul><br/ >
                      	<div class="col-xs-8">
							<div class="col-md-12">
								<form role="form">
									<div class="input-group">
										<span class="input-group-addon">Cardholder's Name</span>
										<input type="text" class="form-control">
									</div><br/ >
									<div class="input-group">
										<span class="input-group-addon">Card Number</span>
										<input type="text" class="form-control" placeholder="Enter your 16 digit card number">
									</div><br/ >
									<div class="row">
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">Valid till</span>
												<input type="text" class="form-control" placeholder="MM">
												<span class="input-group-addon"> </span>
												<input type="text" class="form-control" placeholder="YYYY">
											</div>
										</div>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon">CVC</span>
												<input type="text" class="form-control" placeholder="Ex. 331">
											</div>
										</div>
									</div><br/ >
									<button type="submit" class="btn btn-primary">Pay Now</button>
								</form>
							</div>
						</div>
                      </div>
                    </div>
                  </div> 
              	</div>