<!-- Begin Body -->
<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
        <li>Payment History</li>
        <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div class="panel panel-default" style="display:none;">
	<div class="panel-heading">
	    <h4 class="panel-title">
	        <button type="button" class="btn btn-danger">0 Late</button>
	        <button type="button" class="btn btn-warning">1 Pending</button>
			<button type="button" class="btn btn-success">5 Successful</button>
			<button type="button" class="btn btn-info" style="float:right;">6 All</button>
		</h4>
	</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">My payment History</h4>
    </div>
    <div class="panel-body">
		<div class="table-responsive">
	        <table data-toggle="table" data-url= "ph_data" data-height="299" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" class="table table-condensed table-striped table-bordered table-hover no-margin">
				<thead>
					<tr>
					    <th data-field="purpose" data-align="center" data-formatter="purposeFormatter" style="width:5%;">Purpose</th>
					    <th data-field="landlord_name" data-align="center">Landlord</th>
					    <th data-field="amount" data-align="center">Amount</th>
					    <th data-field="payment_done_at" data-formatter="dateFormatter" data-align="center">Paid on</th>
					    <th data-field="payment_mode" data-align="center">Mode of Payment</th>
					    <th data-field="status" data-formatter="statusFormatter" data-align="center">Status</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

