<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
    <li>Roommate Info</li>
    <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div class="alert alert-info" role="alert" id="invitation_alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong> Congratulations!</strong>An invitation has been send to your roommate to join us!'
</div>
<div class="alert alert-info" role="alert" id="request_alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong> Great!</strong>Now we wait for them to confirm this request.
</div>
<div class="alert alert-info" role="alert" id="fill_information" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong> Oops!</strong> Kindly complete your profile before adding a roommate. <%= link_to "Click me!", register_tenant_path,:class => "btn btn-primary btn-xs", :method => :get %>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
			Roommate Information
		</h4>
    </div>
    <div class="panel-body">
      <table data-toggle="table" data-url= "roommate_data" data-height="299" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" class="table table-condensed table-striped table-bordered table-hover no-margin">
        <thead>
          <tr>
              <th data-field="name" data-align="right" style="width:5%;">Name</th>
              <th data-field="contact_no" data-align="center">Contact</th>
              <th data-field="bank_account_number" data-align="left">Bank Detail</th>
              <th data-field="email_id" data-align="left">Email ID</th>
              <th data-field="rent_paid_for" data-align="left" data-formatter="rentStatusFormatter">Rent Status</th>
              <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
          </tr>
        </thead>
      </table><br />
      <div class="form-group">
          <!-- Button trigger modal -->
          <div><button class="btn btn-primary pull-right" data-toggle="tooltip" data-placement="bottom" title="Cick this to pay on behalf of your roommates">
              Pay for all
            </button></div>
            <div><button class="btn btn-warning pull-left" data-toggle="modal" data-target="#myModal">
              Add a roommate
            </button></div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" id= 'modal_close' class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add a roommate!</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                          <div class="input-group">
                            <input id="search_email_id" type="text" class="form-control" placeholder="Roommate's email id" autofocus>
                            <span class="input-group-btn">
                              <button id="add_roommate" class="btn btn-primary btn" type="button">Add</button>
                            </span>
                          </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-3"></div>
                    </div><br /><!-- /.row -->
                    <div class="alert alert-danger" role="alert" id="same_id_alert" style="display:none;">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      Oops, this email ID belongs to you.<strong> Please enter a valid email Id of your roommate!</strong>
                    </div>
                    <div class="alert alert-danger" role="alert" id="null_id_alert" style="display:none;">
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      <strong> Please enter a valid email Id of your roommate!</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>					
    </div>
</div>
