<!-- Begin Body -->
<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
        <li>Setting</li>
        <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
			My settings
		</h4>
    </div>
    <div class="panel-body">
		Content goes here						
    </div>
</div>

