<ol class="breadcrumb">
    <li><%= link_to "Home", tenant_path %></li>
        <li>User Profile</li>
        <li class="pull-right"><a onclick="hideBreadcrumb()">Hide me</a></li>
</ol>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
          <h4 class="panel-title">
            User Profile
          </h4>
        </div>
        <div class="col-md-4">
          <a id="edit_detail" class="btn btn-primary pull-right">Edit</a>
        </div>
        </div>
    </div>
    <div class="panel-body">
      <% if @data %>
        <%= render :partial => "user_profile_show_data" %>
        <%= render :partial => "user_profile_edit_data" %>
      <% else %>
        <%= render :partial => "user_profile_edit_data" %>
      <% end %>
    </div>
</div>
